html { 
	height: 100% 
}

body { 
	height: 100%; 
	margin: 0; 
	padding: 0 
}

#container {
	height: 100%;
}

#map_canvas {
	height: 100%;
}

#sidebar {
	height:100%;
	width: 20%;
}

/* Mobile */
@media (max-width: 768px) {
	#map_canvas {
		height: 80%;
	}
}
